<!DOCTYPE html>
<html>
<head>
  <title>Andrew Pike</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,800" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class='container'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">

        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class ="fa fa-group"></i>
          Andrew Pike
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About Me", about_path %></li>
          <li><%= link_to "Get a Quote", quotes_path %></li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container">
    <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{type}" %>
    <% end %>
  </div>  
  <%= yield %>
</body>
<foot>
  <div class="footer">
    <div class="footer-icon"><h2>
      <%= link_to 'http://tjohnsonins.com/' do %>
        <%= image_tag( "logowhitesmall.jpg", size: "150x69", :alt => "TJ Insurance" ) %>
      <% end %></h2>
    <p class="white-text">© 2018 Andrew Pike, all rights reserved.</p>
  </div>
</foot>
</html>
