<!DOCTYPE html>
<html>
<head>
  <title>Walker Trent</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,800" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class='container'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class ="fa fa-group"></i>
          Walker Trent
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Bio", bio_path %></li>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Academic", academic_path %></li>
          <li><%= link_to "Contact Me", contact_me_path %></li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container">
    <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{type}" %>
    <% end %>
  </div>  
  <%= yield %>
</body>
<foot>
  <div class="footer">
    <p>© 2018 Walker D. Trent, all rights reserved.</p>
    <div class="col-md-6 footer-icon-aright"><h2>
      <%= link_to 'https://github.com/wtrent1' do %>
        <i class="fab fa-github"> </i>
      <% end %><h2>
    </div>
    <div class="col-md-6 footer-icon-aleft"><h2>
      <%= link_to 'https://www.linkedin.com/in/walker-trent-615vol/' do %>
        <i class="fab fa-linkedin"> </i>
      <% end %></h2>
    </div>
  </div>
</foot>
</html>
